@model Version4Nemesys.Models.ViewModels.ReportViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReportModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(ReportModel => ReportModel.Report.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(ReportModel => ReportModel.Report.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(ReportModel => ReportModel.Report.ReportDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(ReportModel => ReportModel.Report.ReportDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(ReportModel => ReportModel.Report.EventLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(ReportModel => ReportModel.Report.EventLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(ReportModel => ReportModel.Report.EventDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(ReportModel => ReportModel.Report.EventDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
