@model Version4Nemesys.ViewModels.ReportViewModel
@using System.Linq

@{
    ViewData["Title"] = "Details";
    var imgPath = "~/UploadedImages/" + Model.PhotoPath;
}

<h1>Details</h1>

<div>
    <h4>ReportModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Report Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(ReportModel => ReportModel.ReportName)
        </dd>
        <dt class="col-sm-2">
            Date of Issue Encontered
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(ReportModel => ReportModel.EventDate)
        </dd>
        <dt class="col-sm-2">
            Date of Report Issues
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(ReportModel => ReportModel.ReportDate)
        </dd>
        <dt class="col-sm-2">
            Location Reported
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(ReportModel => ReportModel.EventLocation)
        </dd>
        <dt class="col-sm-2">
            Report Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(ReportModel => ReportModel.EventDescription)
        </dd>
        <dt class="col-sm-2">
            Reporter Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(ReportModel => ReportModel.User.Email)
        </dd>
        @if (Model.PhotoPath != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(ReportModel => ReportModel.PhotoPath)
            </dt>
            <dd class="col-sm-10">
                <img id="DetailsImage" src="@imgPath" height="450px;" width="450px" asp-append-version="true" />
            </dd>
        }
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
    <a class="btn btn-primary" asp-controller="Investigation" asp-action="RetreiveReport" asp-route-id="@Model.ReportID">Create an Investigation for this Report</a>
</div>
