@{
    ViewData["Title"] = "Index";
    IEnumerable<ReportModel> Reports = ViewBag.Reports;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date of Event
            </th>
            <th>
                Date of Report
            </th>
            <th>
                Location of event
            </th>
            <th>
                Description of event
            </th>
            <th>
                Updoot
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Reports != null)
        {
            @foreach (var item in Reports)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReportDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventDescription)
                    </td>
                    <td>
                        Place updoot button here
                    </td>
                    <td>
                        <a asp-controller="Report" asp-action="Details" asp-route-id="@item.ReportID">Details</a>
                    </td>
                </tr>
            }
        }
        </tbody>
</table>