@{
    ViewData["Title"] = "Index";
    IEnumerable<InvestigationModel> Reports = ViewBag.Reports;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestigationDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvestigationDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvestigationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvestigationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvestigationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
